################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

/.vs

**/__vm
*.vcxproj.user